.card-header {
  text-align: center;
  width: 408px;
  color: cornflowerblue;
}
.card-title {
  text-align: center;
  width: 408px;
}
.card-footer {
  text-align: center;
  width: 408px;
}
.container {
  width: 408px;
  font-family: "PT Sans", sans-serif;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  width: 450px;
  border-radius: 20px;
  background-color: rgb(146, 172, 221);
}
h1 {
  color: cornflowerblue;
}
h2 {
  text-align: left;
  font-size: 20px;
  color: cornflowerblue;
}
a {
  color: cornflowerblue;
}
p {
  color: cornflowerblue;
  text-align: left;
}
ul {
  font-size: 10 px;
  text-align: center;
}

li {
  color: #7c7c7c;
  list-style: none;
}

button {
  color: cornflowerblue;
}

img {
  margin-bottom: 10px;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
