.card-header {
  text-align: center;
  width: 408px;
  color: cornflowerblue;
}
.card-title {
  text-align: center;
  width: 408px;
}
.card-footer {
  text-align: center;
  width: 408px;
}
.container {
  width: 408px;
  font-family: "PT Sans", sans-serif;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  width: 450px;
  border-radius: 20px;
  background-color: rgb(146, 172, 221);
}
h1 {
  color: cornflowerblue;
}
h2 {
  text-align: left;
  font-size: 20px;
  color: cornflowerblue;
}
a {
  color: cornflowerblue;
}
p {
  color: cornflowerblue;
  text-align: left;
}
ul {
  font-size: 10 px;
  text-align: center;
}

li {
  color: #7c7c7c;
  list-style: none;
}

button {
  color: cornflowerblue;
}
